<div class="row">
  <div class="small-12 columns" style="padding:15px 20px;">
    <img src="/img/Flite-logo-white-h.png" alt="" />
  </div>
    <div class="small-12 columns">
      <a href="#" class="button small expand" data-dropdown="drop">Formats</a>
      <ul id="drop" class="content f-dropdown" data-dropdown-content>
        <li><a href="http://google.com" target="_blank"><img class="template_icon" src="http://files.flite.com/starter-ads/icons-24/formats/medium-rectangle.png" alt="" /> Medium Rectangle <span class="size"> 300 x 250 </span></a></li>
        <li><a href="http://google.com" target="_blank"><img class="template_icon" src="http://files.flite.com/starter-ads/icons-24/html5/filmstrip-icon-24.png" alt="" /> Rectangle <span class="size"> 180 x 150 </span></a></li>
        <li><a href="http://google.com" target="_blank"><img class="template_icon" src="http://files.flite.com/starter-ads/icons-24/html5/filmstrip-icon-24.png" alt="" />Wide Skyscraper <span class="size"> 300 x 250 </span></a></li>
        <li><a href="http://google.com" target="_blank"><img class="template_icon" src="http://files.flite.com/starter-ads/icons-24/html5/filmstrip-icon-24.png" alt="" />Medium Rectangle <span class="size"> 300 x 250 </span></a></li>
        <li><a href="http://google.com" target="_blank"><img class="template_icon" src="http://files.flite.com/starter-ads/icons-24/html5/filmstrip-icon-24.png" alt="" />Medium Rectangle <span class="size"> 300 x 250 </span></a></li>
        <li><a href="http://google.com" target="_blank"><img class="template_icon" src="http://files.flite.com/starter-ads/icons-24/html5/filmstrip-icon-24.png" alt="" />Medium Rectangle <span class="size"> 300 x 250 </span></a></li>
        <li><a href="#">This is another</a></li>
        <li><a href="#">Yet another</a></li>
      </ul>
      <a href="#" class="button small square expand" data-dropdown="drop-2">Starter Ads</a>
      <ul id="drop-2" class="content f-dropdown" data-dropdown-content>
        <li><a href="http://google.com" target="_blank">Medium Rectangle <span class="size"> 300 x 250 </span></a></li>
        <li><a href="#">This is another</a></li>
        <li><a href="#">Yet another</a></li>
      </ul>
      <!-- <form class="custom">
        <select id="view-options">
          <option value="default">Make New Blank</option>
          <option disabled>Formats</option>
          <option value="r300x250">Medium Rectangle <span class="size"> 300 x 250 </span></option>
          <option value="hp300x600">Half Page 300 x 600</option>
          <option value="r180x150">Rectangle 180 x 150</option>
          <option value="300600">Wide Skyscraper160 x 600</option>
          <option disabled>Starter Ads</option>
          <option value="c300x250">Carousel 300 x 250</option>
          <option value="300600">Expansion 180 x 150</option>
          <option value="interstitial">Interstitial 1x1</option>
          <option value="stack">Stack</option>
          <option disabled>Social</option>
          <option value="instagram-1">Instagram</option>
          <option value="pintrest-1">Pinterest</option>
          <option value="facebook-1">Facebook</option>
          <option value="youtube-1">Youtube</option>
          <option disabled>Responsive</option>
          <option value="native-allstar">Native Allstar</option>
          <option value="full-bleed">Full Bleed</option>
          <option value="responsive-1">Responsive (Large to Small)</option>
          <option value="responsive-2">Responsive (X-Large to Small)</option>
          <option disabled>Rising Stars</option>
          <option value="billboard">Billboard</option>
          <option value="filmstrip">Filmstrip</option>
          <option value="portrait">Portrait</option>
          <option value="pushdown">Pushdown</option>
        </select>
      </form> -->
    </div>

    <!-- <div class="small-12 columns">
      <a href="" target="_blank" id="render-tag" class="button success small expand">Make Ad</a>
    </div> -->
  </div>
