<div class="row">
  <div class="small-12 columns animated pulse" style="padding:15px 20px;">
    <a href="http://flite.com" target="_blank"><img src="/img/Flite-logo-white-h.png"/></a>
  </div>
    <div class="small-12 columns animated fadeIn">
      <a href="#" class="button small expand formats animated fadeIn" data-dropdown="drop">Formats</a>
      <ul id="drop" class="content f-dropdown" data-dropdown-content>
        <li title="This template creates a blank ad with default settings that are available in the Design Studio.">
          <a href="http://console.flite.com/make_component.action?forwardTemplate=&item=349fd03e-d791-40d4-adcf-fa038345db57" target="_blank">
          <img class="template_icon" src="http://files.flite.com/starter-ads/icons-24/formats/medium-rectangle.png" alt="" />Medium Rectangle<span class="size"> 300 × 250 </span></a>
        </li>

        <li title="This template creates a blank ad with default settings that are available in the Design Studio.">
          <a href="http://console.flite.com/make_component.action?forwardTemplate=&item=7ceedd3c-a0da-437d-b656-2cde346ec1d4" target="_blank">
          <img class="template_icon" src="http://files.flite.com/starter-ads/icons-24/formats/half-page.png" alt="" />Half Page<span class="size"> 300 × 600 </span></a>
        </li>

        <li title="This template creates a blank ad with default settings that are available in the Design Studio.">
          <a href="http://console.flite.com/make_component.action?forwardTemplate=&item=b7eb6510-f13d-4501-af1d-20b821b17ec3" target="_blank">
          <img class="template_icon" src="http://files.flite.com/starter-ads/icons-24/formats/rectangle.png" alt="" />Rectangle<span class="size"> 180 x 150 </span></a>
        </li>

      </ul>

      <a href="#" class="button small square expand starter-ads animated fadeIn" data-dropdown="drop-2">Starter Ads</a>
      <ul id="drop-2" class="content f-dropdown" data-dropdown-content>
        <li title="This template creates a blank ad with default settings that are available in the Design Studio.">
          <a href="http://console.flite.com/make_component.action?forwardTemplate=&item=349fd03e-d791-40d4-adcf-fa038345db57" target="_blank"><img class="template_icon" src="http://files.flite.com/starter-ads/icons-24/formats/medium-rectangle.png" alt="" />Medium Rectangle  <span class="size"> 300 × 250 </span></a>
        </li>


      </ul>

      <a href="#" class="button small square expand social animated fadeIn" data-dropdown="drop-3">Social</a>
      <ul id="drop-3" class="content f-dropdown" data-dropdown-content>
        <li><a href="http://google.com" target="_blank"><img class="template_icon" src="http://files.flite.com/starter-ads/icons-24/html5/filmstrip-icon-24.png" alt="" />Medium Rectangle <span class="size"> 300 × 250 </span></a></li>
        <li><a href="http://google.com" target="_blank"><img class="template_icon" src="http://files.flite.com/starter-ads/icons-24/html5/filmstrip-icon-24.png" alt="" />Medium Rectangle <span class="size"> 300 × 250 </span></a></li>
        <li><a href="http://google.com" target="_blank"><img class="template_icon" src="http://files.flite.com/starter-ads/icons-24/html5/filmstrip-icon-24.png" alt="" />Medium Rectangle <span class="size"> 300 × 250 </span></a></li>
      </ul>

      <a href="#" class="button small square expand responsive animated fadeIn" data-dropdown="drop-4">Responsive</a>
      <ul id="drop-4" class="content f-dropdown" data-dropdown-content>
        <li><a href="http://google.com" target="_blank"><img class="template_icon" src="http://files.flite.com/starter-ads/icons-24/html5/filmstrip-icon-24.png" alt="" />Medium Rectangle <span class="size"> 300 × 250 </span></a></li>
        <li><a href="http://google.com" target="_blank"><img class="template_icon" src="http://files.flite.com/starter-ads/icons-24/html5/filmstrip-icon-24.png" alt="" />Medium Rectangle <span class="size"> 300 × 250 </span></a></li>
        <li><a href="http://google.com" target="_blank"><img class="template_icon" src="http://files.flite.com/starter-ads/icons-24/html5/filmstrip-icon-24.png" alt="" />Medium Rectangle <span class="size"> 300 × 250 </span></a></li>
      </ul>

      <a href="#" class="button small square expand rising-stars animated fadeIn" data-dropdown="drop-5">Rising Stars</a>
      <ul id="drop-5" class="content f-dropdown" data-dropdown-content>
        <li data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!"><a href="http://console.flite.com/make_component.action?forwardTemplate=&item=bf0b30ac-2d6e-4b40-ba6b-6a7189008c1a">
          <img class="template_icon" src="http://files.flite.com/starter-ads/icons-24/html5/portrait-icon-24.png" alt="" />Portrait <span class="size"> 300 × 1050 </span></a></li>
        <li><a href="http://console.flite.com/make_component.action?forwardTemplate=&item=9e673417-52f9-4318-ba0d-1fd89338ca68">
          <img class="template_icon" src="http://files.flite.com/starter-ads/icons-24/html5/pushdown-icon-24.png" alt="" />Pushdown <span class="size"> 970 × 90 </span></a></li>
      </ul>

    </div>

  </div>
