<div class="row">
  <div class="small-12 columns" style="padding:15px 20px;">
    <img src="/img/Flite-logo-white-h.png" alt="" />
  </div>
    <div class="small-12 columns">
      <form class="custom">
        <select id="view-options">
          <option value="default">Make New Blank</option>
          <option disabled>Formats</option>
          <option value="r300x250">Medium Rectangle <span class="size"> 300 x 250 </span></option>
          <option value="r180x150">Rectangle 180 x 150</option>
          <option value="300600">Wide Skyscraper160 x 600</option>
          <option disabled>Starter Ads</option>
          <option value="c300x250">Carousel 300 x 250</option>
          <option value="300600">Expansion 180 x 150</option>
          <option value="interstitial">Interstitial</option>
          <option value="stack">Stack</option>
          <option disabled>Social</option>
          <option value="instagram-1">Instagram</option>
          <option value="pintrest-1">Pinterest</option>
          <option value="facebook-1">Facebook</option>
          <option value="youtube-1">Youtube</option>
          <option disabled>Responsive</option>
          <option value="native-allstar">Native Allstar</option>
          <option value="full-bleed">Full Bleed</option>
          <option value="responsive-1">Responsive (Large to Small)</option>
          <option value="responsive-2">Responsive (X-Large to Small)</option>
          <option disabled>Rising Stars</option>
          <option value="billboard">Billboard</option>
          <option value="filmstrip">Filmstrip</option>
          <option value="portrait">Portrait</option>
        </select>
      </form>
    </div>

    <div class="small-12 columns">
      <a href="" target="_blank" id="render-tag" class="button success small expand">Make Ad</a>
    </div>
  </div>
